// ヘッダー部分は別のscssからインポート-----------
@import "./header";

//--- infoの基本設定 -------------------------
@mixin info {
    .info {
        margin-top: 80px;
        margin-left: 200px;

        h1 {
            font-size: 30px;
            border-bottom: solid 4px aqua;
            max-width: 300px;
        }
    }
}
//---- ここまで -------------------------

//-------- Attentionの部分 -------------------------------
// swiperの部分
@import "./swiper";

.Attention {
    @include info;
    p {
        margin-top: 22px;
        margin-left: 22px;
    }
}

//----- Interestの部分 -----------------------------------
.Interest {
    @include info;
    .info {
        margin-top: 60px;
        .comment {
            display: flex;
            margin-bottom: 15px;
        }
        h2 {
            color: red;
        }
        p {
            font-weight: bold;
        }
        table {
            margin-top: 22px;
            margin-left: 22px;
            margin-bottom: 30px;
            th,
            td {
                height: 30px;
                width: 60px;
                border: solid 1px black;
                font-size: 18px;
            }
            td {
                text-align: end;
            }
        }
    }
}

//----- Actionの部分 -----------------------------------
.Action {
    @include info;
    .info {
        .reserve {
            margin-top: 22px;
            margin-left: 22px;
        }
    }
}

//----- Shareの部分 -----------------------------------
.Share {
    @include info;
    .info {
        p {
            margin-top: 12px;
            margin-left: 22px;
        }
        a {
            color: black;
            text-decoration: none;
        }
        iframe {
            margin-top: 22px;
            margin-left: 100px;
            width: 700px;
        }
    }
}

//----- footerの部分 -----------------------------------
footer {
    height: 70px;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: 30px;
    }
}

//----- ここからレスポンシブ対応 -----------------------------------
@media screen and(max-width:760px) {
    //----- へッターの部分 -----------------------------------
    header {
        justify-content: left;
        span {
            img {
                display: none;
            }
        }
        p {
            font-size: 20px;
            padding-left: 15px;
        }
        .header-right {
            display: none;
        }
        .fadeIn {
            background-color: rgba(128, 128, 128, 0.856);
            height: 20%;
            width: 90%;
            position: fixed;
            top: 10px;
            left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            z-index: 5;
            p {
                font-size: 30px;
            }
        }
        // ハンバーガーメニュー
        .hamburger {
            width: 30px;
            height: 30px;
            position: fixed;
            top: 15px;
            right: 5px;
            background-color: chocolate;
            padding: 5px;
            border-radius: 50%;
            z-index: 10;
            .pate,
            .pate::before,
            .pate::after {
                width: 100%;
                height: 5px;
                display: block;
                background-color: black;
                border-radius: 2px;
                transition: all 0.5s ease;
            }
            .pate {
                position: relative;
                top: calc(50% - 2px);
                &::before,
                &::after {
                    content: "";
                    position: absolute;
                }
                &::before {
                    top: -9px;
                }
                &::after {
                    top: 9px;
                }
            }
        }
        .on {
            .pate {
                background-color: transparent;
                &::before {
                    transform: rotate(45deg) translate(5px, 5px);
                }
                &::after {
                    transform: rotate(-45deg) translate(7px, -8px);
                }
            }
        }
    }

    //----- Attentionの部分 -----------------------------------
    .Attention {
        .swiper {
            height: 150px;
            width: 200px;
            .swiper-wrapper {
                .swiper-slide {
                    height: auto;
                    img {
                        height: 100%;
                        // align-self: center;
                    }
                }
            }
        }
        .info {
            margin-left: 12px;
            p {
                font-size: 13px;
            }
        }
    }

    //----- Interestの部分 -----------------------------------
    .Interest {
        .info {
            margin-left: 12px;
        }
    }
    //----- Actionの部分 -----------------------------------
    .Action {
        .info {
            margin-left: 12px;
        }
    }
    //----- Shareの部分 -----------------------------------
    .Share {
        .info {
            margin-left: 12px;
            iframe {
                margin-left: 40px;
                width: 300px;
                height: 150px;
            }
            a {
                color: deepskyblue;                
            }
        }
    }
    //----- footerの部分 -----------------------------------
    footer {
        // height: 30vh;
        p {
            font-size: 20px;
        }
    }
}

@media screen and (min-width: 751px) {
    a[href^="tel:"] {
        pointer-events: none;
        cursor: default;
    }
}
